


.vis {
    display: flex;
}

.site-title {
    margin-top: 0;
}


.project-titles {
    flex-basis: 50%;
    flex-grow: 2;
}

.project-image {
    width: auto;
}




// PROJECTS FRONT PAGE

.project-block {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid $darkness;
}
.full-project-wrap, .project-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $darkness;
}
.project-wrap {
    height: 25%;
    position: relative;

    a {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    
    &:last-child {
        border-bottom: 0px solid #000;
    }
    &:first-child {
        border-top: 0px solid #000000;
    }
}

.project-box {
    h2 {
        font-size: 36px;
        letter-spacing: 0.65px;
        line-height: 34px;
        font-weight: 400;
        font-style: normal;
        margin-bottom: 0;

        &:first-child {
            font-family: $serif;
            margin-bottom: 0.4em;
        }
        &:last-child {
            font-family: $sans-serif;
            text-transform: uppercase;
            letter-spacing: 1.25px;
        }
    }
}

.full-width-row {
    width: 100%;
    height: 120px;
    border-bottom: 1px solid $darkness !important;
}

.tall-project-wrap {
    .project-wrap {
        height: 120px;
    }
}

.image-pad {
    padding: 15px;

    .image {
        width: 675px;
        height: 450px;
        overflow: hidden;
        position: relative;
        // background-color: #fafafa;

        .show-poster {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-image: url('https://s3.amazonaws.com/huioy.com/poster_box-vacant.png');
            background-size: cover;
            background-position: center center;
        }

        .tall-show-poster {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-image: url('https://s3.amazonaws.com/huioy.com/poster_tall-box-vacant.png');
            background-size: cover;
            background-position: center center;
        }
    }

    .tall-image {
        padding-right: 0;
        height: 945px;
        width: 630px;
    }
}
.tall-project-image {
    padding-right: 0;
}
.top-pad {
    padding-right: 0;
}
.mid-pad {
    padding-left: 0;
}

@media only screen and (min-width: 2000px) {
    .image-pad {

        .image {
            width: 1236px;
            height: 824px;
        }
        .tall-image {
            height: 1855px;
        }
    }
    .tall-project-wrap .project-wrap {
        height: 12.5%;
    }
    .full-width-row {
        height: 236px;
    }
}

@media only screen and ( max-width: 1024px ) {
    .project-block {
        flex-direction: column;
    }
    .project-image {
        display: none;
    }
    .project-wrap {
        padding: 26px 0;
    }
    .project-titles {
        width: 100%;
    }
    .project-box {

        h2 {
            // font-size: 28px;
            margin: 0;

            &:first-child {
                // margin-bottom: 0;
            }
        }

    }
}



@media only screen and (max-width: 768px) {
    .project-wrap {
        padding: 14px 0;
        // cursor: pointer !important;
    }
    .project-box {

        h2 {
            margin: 0;

            &:first-child {
                letter-spacing: 0.55px;
                font-size: 18px;
                margin-bottom: 0;
            }

            &:last-child {
                letter-spacing: 1px;
                font-size: 18px;
            }
        }

    }
    .full-width-row, .tall-project-wrap .project-wrap {
        height: auto;
    }
}

















