$list-border: 1px solid #fafafa;


#project-list {
	display: flex;
	flex-direction: column;

	a {
		padding: 0.75em 1.3em;
		background: #fafafa;

		&:first-child {
			border-top: $list-border;
		}
		&:last-child {
			border-botttom: $list-border;
		}
		&:nth-child(even) {
			background: #ffffff;
		}
		h2 {
			margin: 0;
			font-size: 1em;
			font-weight: 200;
		}
	}
}