<div class="form-page-wrapper">

	<div id="project-list" data-url="<%= sort_projects_path %>">
		<% @projects.each do |proj| %>
			<%= link_to proj, id: dom_id(proj) do %>
				<h2><%= proj.title %></h2>
			<% end %>
		<% end %>
	</div>

</div>
