<div class="form-page-wrapper">
	
	<%= render 'shared/error_messages' %>

	<div class="form-block">
	
		<h1>Create a new project here</h1>
		<%= render 'shared/form' %>
		<%= render 'shared/project_options' %>
	</div>

</div>
